<a href="https://colab.research.google.com/github/191919201921/Zadania_Domowe_ADS/blob/main/Kopia_notatnika_M3PD1V1_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modul 3 - Praca domowa - Python

Zwykle istnieje wiele sposobów, żeby rozwiązać zadanie w Python. Także czasami warto spróbować opracować kod na 1-2 sposoby :)

## Zadanie - 1

Zadanie opiera się na danych z informacją o wyjściu statków z portu Gdańsk w okresie 2005-06.2020 ([Więcej o Danych](https://bit.ly/30HkRgS)).<br> Kroki:
* Wczytać zbiór danych w formacie `.csv`
* Wyświetlić listę kolumn ze zbioru
* Wyświetlić pierwsze 10 wierszy z wczytanego zbioru danych<br>
<br>![statek](https://media.giphy.com/media/o0eOCNkn7cSD6/giphy.gif)<br>
---
Wskazówka: uważaj na kodowanie plików. Zalecane wykorzystywanie `UTF-8`. Plik źródłowy ma błędne kodowanie, dlatego został ponownie zapisany w formacie `.csv` z separatorem ";".

---

Wczytaj dane w formacie `.csv` z separatorem `;` wykorzystując link: <br>https://akademiadatascience.s3-eu-west-1.amazonaws.com/materialy/sds/modul3/statki.csv

In [ ]:
import pandas as pd

bd = pd.read_csv("https://akademiadatascience.s3-eu-west-1.amazonaws.com/materialy/sds/modul3/statki.csv",sep=';')

bd.head(10)

  Kod portu \n  ... Nabrzeże (miejsce zacumowania)
0        PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1        PLGDN  ...                   WESTERPLATTE
2        PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4        PLGDN  ...                   WESTERPLATTE
5        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
6        PLGDN  ...               BPPP JETTY " R "
7        PLGDN  ...                       CHEMIKÓW
8        PLGDN  ...                   WESTERPLATTE
9        PLGDN  ...           NAB SZCZECIŃSKIE GTK

[10 rows x 12 columns]

Usuń tabulatory w nazwach kolumn, bazując na wcześniej wczytanej tabeli.

In [ ]:
kol1 = bd.columns.str.replace('\n','')
kol1 #usuwam tabulatory
kol2 = kol1.str.strip()
kol2 #usuwam spacje

Index(['Kod portu', 'Data wyjścia (rrrr-mm-dd)', 'Godzina wyjścia(hh:mm)',
       'Kod portu, przeznaczenia', 'Nazwa statku', 'Bandera', 'nr IMO',
       'Sygnał wywoławczy', 'Pojemność brutto (tony)', 'Długość (metry)',
       'Agent', 'Nabrzeże (miejsce zacumowania)'],
      dtype='object')

## Zadanie - 2

Sprawdź rozmiar tabeli oraz typy danych wg. kolumn.

In [ ]:
bd2.shape

(11490, 12)

In [ ]:
bd2.dtypes

Kod portu                         object
Data wyjścia (rrrr-mm-dd)         object
Godzina wyjścia(hh:mm)            object
Kod portu, przeznaczenia          object
Nazwa statku                      object
Bandera                           object
nr IMO                            object
Sygnał wywoławczy                 object
Pojemność brutto (tony)            int64
Długość (metry)                   object
Agent                             object
Nabrzeże (miejsce zacumowania)    object
dtype: object

## Zadanie - 3

Wyświetl nazwę kolumny oraz pierwszą wartość z tej kolumny, przy czym połączenie nazwa kolumny - pierwsza wartość ma być wyświetlone w nowym wierszu odpowiednio.

In [ ]:
bd2.loc[0]

Kod portu                                                PLGDN
Data wyjścia (rrrr-mm-dd)                           04.01.2005
Godzina wyjścia(hh:mm)                                12:00:00
Kod portu, przeznaczenia                                 RULED
Nazwa statku                                           PETSAMO
Bandera                                                Finland
nr IMO                                                 7517545
Sygnał wywoławczy                                         OIZH
Pojemność brutto (tony)                                   2356
Długość (metry)                                          84.00
Agent                             Cargo Service Co. Ltd Gdańsk
Nabrzeże (miejsce zacumowania)           NAB. SZCZECIŃSKIE GTK
Name: 0, dtype: object

## Zadanie - 4

Zmień typ danych dla kolumn:<br><br>
* `Data wyjścia (rrrr-mm-dd)` na `date` uzywając funkcji: `pd.to_datetime(data, format = "%d.%m.%Y")`<br><br>

Na wartości numeryczne używając funkcji: `pd.to_numeric(liczba, errors = "coerce")` <br>gdzie `coerce` wymusza zamianę nieprawidłowych wartości na NaN:<br>
* `nr IMO` 
* `Długość (metry)`

In [ ]:
bd2['Data wyjścia (rrrr-mm-dd)'] = bd2['Data wyjścia (rrrr-mm-dd)'].astype('datetime64[ns]')
bd2.dtypes

Kod portu                                 object
Data wyjścia (rrrr-mm-dd)         datetime64[ns]
Godzina wyjścia(hh:mm)                    object
Kod portu, przeznaczenia                  object
Nazwa statku                              object
Bandera                                   object
nr IMO                                    object
Sygnał wywoławczy                         object
Pojemność brutto (tony)                    int64
Długość (metry)                           object
Agent                                     object
Nabrzeże (miejsce zacumowania)            object
dtype: object

In [ ]:
bd2['nr IMO'] = pd.to_numeric(bd2['nr IMO'], errors='coerce')
bd2['Długość (metry)'] = pd.to_numeric(bd2['Długość (metry)'], errors = 'coerce')
bd2.dtypes

Kod portu                                 object
Data wyjścia (rrrr-mm-dd)         datetime64[ns]
Godzina wyjścia(hh:mm)                    object
Kod portu, przeznaczenia                  object
Nazwa statku                              object
Bandera                                   object
nr IMO                                   float64
Sygnał wywoławczy                         object
Pojemność brutto (tony)                    int64
Długość (metry)                          float64
Agent                                     object
Nabrzeże (miejsce zacumowania)            object
dtype: object

Sprawdź jaki jest efekt zmian:

In [ ]:
bd2

      Kod portu  ... Nabrzeże (miejsce zacumowania)
0         PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1         PLGDN  ...                   WESTERPLATTE
2         PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3         PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4         PLGDN  ...                   WESTERPLATTE
...         ...  ...                            ...
11485     PLGDN  ...            BPPP Stanowisko T-1
11486     PLGDN  ...             DCT -Przeładunkowe
11487     PLGDN  ...             DCT -Przeładunkowe
11488     PLGDN  ...             DCT -Przeładunkowe
11489     PLGDN  ...             DCT -Przeładunkowe

[11490 rows x 12 columns]

## Zadanie - 5

Obetnij zbiór do 10000 wierszy:

In [ ]:
bd2 = bd2.truncate(after=9999)
bd2

     Kod portu  ... Nabrzeże (miejsce zacumowania)
0        PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1        PLGDN  ...                   WESTERPLATTE
2        PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4        PLGDN  ...                   WESTERPLATTE
...        ...  ...                            ...
9995     PLGDN  ...             DCT -Przeładunkowe
9996     PLGDN  ...             DCT -Przeładunkowe
9997     PLGDN  ...              BPPP Stanowisko T
9998     PLGDN  ...             DCT -Przeładunkowe
9999     PLGDN  ...             DCT -Przeładunkowe

[10000 rows x 12 columns]

Sprawdź podstawowe statystyki co do długości statków dodatkowo agregując wynik wg. kolumny Bandera (*przynależność państwowa statku*).

In [ ]:
bd2.groupby(['Bandera'])['Długość (metry)'].mean()

Bandera
Anguilla                73.660000
Antigua and Barbuda    174.439076
Bahamas                204.697237
Barbados                79.752000
Belgium                133.642500
                          ...
Sweden                 197.705595
Turkey                 164.421667
United Kingdom         160.785890
United States          185.374118
Vanuatu                172.504286
Name: Długość (metry), Length: 61, dtype: float64

Wg. przynależności państwowej statków, skąd są **średnio** **najdłuższe statki**, które wychodzą z portu Gdańsk? (Top 10)

In [ ]:
dlugosci = bd2.groupby(['Bandera'])['Długość (metry)'].mean()
dlugosci.sort_values(ascending=False).head(10)

Bandera
Isle of Man                 379.749410
Denmark                     369.096494
Kuwait                      333.583333
Liberia                     327.549186
Hong Kong                   322.034526
Japan                       291.970000
Bermuda                     288.500000
Iran Islamic Republic of    274.000000
India                       254.778571
Cyprus                      254.252619
Name: Długość (metry), dtype: float64

Wg. przynależności państwowej statków, jaka jest **średnia największa** ich **pojemność brutto** (tony)? (Top 10)

In [ ]:
pojemnosci = bd2.groupby(['Bandera'])['Pojemność brutto (tony)'].mean().sort_values(ascending=False).head(10)
pojemnosci

Bandera
Kuwait                      160243.000000
Hong Kong                   132319.726316
Denmark                     103773.544693
Japan                        93182.000000
Bermuda                      88539.000000
Iran Islamic Republic of     81479.000000
Hong Kong                    81119.792857
India                        65479.714286
Greece                       64022.824885
Cayman Islands               61371.000000
Name: Pojemność brutto (tony), dtype: float64

In [ ]:
bd2

     Kod portu  ... Nabrzeże (miejsce zacumowania)
0        PLGDN  ...          NAB. SZCZECIŃSKIE GTK
1        PLGDN  ...                   WESTERPLATTE
2        PLGDN  ...          PRZEMYSŁOWE / WIŚLANE
3        PLGDN  ...       OBROŃCÓW POCZTY POLSKIEJ
4        PLGDN  ...                   WESTERPLATTE
...        ...  ...                            ...
9995     PLGDN  ...             DCT -Przeładunkowe
9996     PLGDN  ...             DCT -Przeładunkowe
9997     PLGDN  ...              BPPP Stanowisko T
9998     PLGDN  ...             DCT -Przeładunkowe
9999     PLGDN  ...             DCT -Przeładunkowe

[10000 rows x 12 columns]

## Zadanie - 6 (dodatkowe)

Opracuj to zadanie wg. kroków:
* Stwórz bazę `SQLite`
* Wczytaj dane do stworzonej bazy wykorzystując Data Frame obcięty do 10K wierszy z zadania N5
* Opracuj zapytania SQL, które pozwolą odpowiedzieć na pytania:
> 1) Wg. przynależności państwowej statków, skąd są średnio **najkrótsze statki**, które wychodzą z portu Gdańsk? (Top 10 - bander z średnio najkrótszymi statkami)<br><br>
> 2) Wg. przynależności państwowej statków, jaka jest **średnia** ich **pojemność brutto** (tony)? (Top 10 - bander z średnio najemniejszą pojemnością statków)

![database](https://media.giphy.com/media/4FQMuOKR6zQRO/giphy.gif)

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
bdsql = sqlite3.connect("SQL")

In [ ]:
bd_kursor = bdsql.cursor()

In [ ]:
bd2 = bd2.rename(columns={'Długość (metry)': "dlugosc"})
bd2 = bd2.rename(columns={'Pojemność brutto (tony)': "pojemnosc_brutto"})
bd3 = bd2.to_sql('bd3', bdsql, if_exists='replace')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [ ]:
tabela = pd.read_sql("select * from bd3",bdsql)
tabela

      index  ... Nabrzeże (miejsce zacumowania)
0         0  ...          NAB. SZCZECIŃSKIE GTK
1         1  ...                   WESTERPLATTE
2         2  ...          PRZEMYSŁOWE / WIŚLANE
3         3  ...       OBROŃCÓW POCZTY POLSKIEJ
4         4  ...                   WESTERPLATTE
...     ...  ...                            ...
9995   9995  ...             DCT -Przeładunkowe
9996   9996  ...             DCT -Przeładunkowe
9997   9997  ...              BPPP Stanowisko T
9998   9998  ...             DCT -Przeładunkowe
9999   9999  ...             DCT -Przeładunkowe

[10000 rows x 13 columns]

In [ ]:
najkrotsze = pd.read_sql("SELECT Bandera, AVG(dlugosc) AS avg_dl FROM bd3 GROUP BY Bandera ORDER BY avg_dl  LIMIT 10",bdsql)

In [ ]:
najkrotsze

                            Bandera      avg_dl
0                      Cook Islands   28.000000
1                          Cambodia   38.910000
2                          Honduras   52.152000
3                            Poland   56.125216
4                          Anguilla   73.660000
5                          Barbados   79.752000
6  Saint Vincent and the Grenadines   86.727500
7                            Belize   87.082500
8                            Latvia   94.474000
9                           Georgia  100.350000

In [ ]:
pojemnosc = pd.read_sql("SELECT Bandera, AVG(pojemnosc_brutto)AS avg_poj FROM bd3 GROUP BY Bandera ORDER BY avg_poj LIMIT 10 ",bdsql)
pojemnosc

                            Bandera      avg_poj
0                      Cook Islands   186.000000
1                          Cambodia   518.000000
2                          Honduras   661.000000
3                          Anguilla  1162.000000
4                          Barbados  1247.000000
5                           Georgia  2077.000000
6                            Belize  2814.916667
7                            Poland  3039.984375
8  Saint Vincent and the Grenadines  3054.781250
9                            Latvia  5167.200000